@import 'tailwindcss';

@theme {
  --color-brand-gray: #4c4c4c;
  --color-brand-gray2: #94969f;
  --color-brand-green: #20502e;

  --color-brand-gray-bg: #fbfbfb;
  --color-brand-gray2-bg: #e5e7f1;
  --color-brand-green-bg: #ddf1e3;

  --color-brand-blue: #122da2;

  --color-brand-border: #dedede;
  --color-brand-border2: #e9ebf4;
  --color-brand-green-border: #91caa2;

  --breakpoint-mobile: 960px;
}

@layer components {
  .btn-brand {
    @apply text-default text-brand-gray border-brand-border hover:text-brand-blue hover:border-brand-blue cursor-pointer border bg-white px-5 pt-1.75 pb-2 text-center transition-colors;
  }
}

h1 {
  @apply text-4xl leading-[120%] font-medium tracking-[-0.04em];
}

h2 {
  @apply max-mobile:text-2xl max-mobile:leading-[120%] max-mobile:font-medium text-[32px] leading-[120%] font-medium;
}

h3 {
  @apply max-mobile:text-lg max-mobile:leading-[110%] max-mobile:font-bold text-2xl leading-[120%] font-semibold;
}

h4 {
  @apply text-base leading-[140%] font-semibold;
}

@utility text-default {
  @apply text-base leading-[140%] font-normal tracking-[-0.04em];
}
@utility text-secondary {
  @apply text-base leading-[140%] font-medium;
}
