@import 'tailwindcss';

@theme {
  --color-brand-gray: #4c4c4c;
  --color-brand-gray2: #94969f;
  --color-brand-gray-bg: #fbfbfb;
  --color-brand-gray2-bg: #e5e7f1;
  --color-brand-blue: #122da2;
  --color-brand-border: #dedede;
  --color-brand-border2: #e9ebf4;

  --breakpoint-mobile: 960px;
}

@layer components {
  .btn-brand {
    @apply text-default text-brand-gray border-brand-border hover:text-brand-blue hover:border-brand-blue cursor-pointer border bg-white px-5 pt-1.75 pb-2 text-center transition-colors;
  }
}

@utility h1 {
  @apply text-4xl leading-[120%] font-medium tracking-[-0.04em];
}

@utility h2 {
  @apply max-mobile:h2-mobile text-[32px] leading-[120%] font-medium;
}
@utility h2-mobile {
  @apply text-2xl leading-[120%] font-medium;
}

@utility h3 {
  @apply max-mobile:h3-mobile text-2xl leading-[120%] font-semibold;
}
@utility h3-mobile {
  @apply text-lg leading-[110%] font-bold;
}

@utility h4 {
  @apply text-base leading-[140%] font-semibold;
}

@utility text-default {
  @apply text-base leading-[140%] font-normal tracking-[-0.04em];
}
@utility text-secondary {
  @apply text-base leading-[140%] font-medium;
}
