---
import BaseLayout from '@/layouts/BaseLayout.astro';

import AboutList from '@/components/AboutList.astro';
import AboutCard from '@/components/AboutCard.astro';

import '@/styles/global.css';
---

<BaseLayout>
  <section class="max-mobile:pt-9 flex flex-col gap-12">
    <AboutList title="Опыт работы">
      <AboutCard
        title="UX/UI-дизайнер"
        years="2024‐2026"
        tag="Фриланс"
        list={[
          'Проектирование сайтов для малого бизнеса, проработка структуры, подготовка макетов к вёрстке, разрабатываю интерфейсы с учётом пользовательских сценариев и дальнейшего масштабирования',
        ]}
      />
      <AboutCard
        title="Специалист по информационным технологиям"
        years="2022‐2026"
        tag="НИИР им. В.А. Насоновой"
        list={[
          'Разработала UX/UI дизайн многостраничного сайта, переработала структуру',
          'Разработала пользовательские сценарии и ключевые пользовательские потоки',
          'Сопровождала реализацию проекта: взаимодействовала с разработчиками, участвовала в передаче макетов',
          'Сократила путь пользователя до получения необходимых инструкций и разобрала «информационную свалку»',
          'Занималась вёрсткой страниц сайта (на этапе поддержки)',
          'Разработала айдентику для телеграм-канала учреждения',
        ]}
      />
      <AboutCard
        title="Графический дизайнер"
        years="2022"
        tag="АРТФОТО"
        list={['Разработка визуальных материалов и работа с графикой']}
      />
    </AboutList>

    <AboutList title="Образование">
      <AboutCard
        title="Информатика и вычислительная техника"
        years="2018‐2022"
        tag="НИУ МЭИ"
      />
      <AboutCard
        title="Курс Алексея Бычкова"
        years="2024"
        tag="[стала лучшей на курсе]"
        isExtraTag
        list={[
          'Типографика, принципы психологии цвета и композиции',
          'Паттерны поведения пользователей',
          'Создание дашбордов в светлой и тёмной темах',
          'Создание лендингов и адаптация под разные устройства',
          'Перенос макета в Tilda, создание анимации',
          'Разработка визуальных материалов и работа с графикой',
        ]}
      />
    </AboutList>

    <AboutList title="Навыки">
      <AboutCard
        title="Figma"
        list={[
          'Быстро настраиваю компоненты, UI-kit, варианты, автолейауты',
          'Поддержка и развитие дизайн-систем',
          'Использую маски, режимы наложения',
          'Создаю кликабельные прототипы',
          'Делаю адаптивный дизайн',
        ]}
      />
      <AboutCard
        title="Adobe photoshop / illustrator"
        list={[
          'Подготовка макетов к типографской печати',
          'Ретушь частотным разложением',
          'Пакетная обработка фото',
        ]}
      />
      <AboutCard
        title="Нейросети"
        list={[
          'ChatGPT, Gemini, Recraft, Krea - генерация изображений и иллюстраций',
          'Spline для создания 3D',
        ]}
      />
    </AboutList>

    <AboutList title="Софт Скилз">
      <AboutCard
        list={[
          'Умею уточнять требования и переводить их в дизайн-решения',
          'Учитываю технические ограничения',
          'Проявляюсь в командной работе',
          'Умею принимать и давать конструктивную обратную связь',
          'Занимаюсь вокалом и веду активный образ жизни',
        ]}
      />
    </AboutList>
  </section>
</BaseLayout>
