---
import BaseLayout from '@/layouts/BaseLayout.astro';

import AboutList from '@/components/AboutList.astro';
import AboutCard from '@/components/AboutCard.astro';

import '@/styles/global.css';
---

<BaseLayout>
  <section class="max-mobile:pt-9 flex flex-col gap-12">
    <AboutList title="Опыт работы">
      <AboutCard
        title="UX/UI-дизайнер"
        years="2024‐2026"
        tag="Фриланс"
        list={[
          'Проектирование сайтов для малого бизнеса, проработка структуры, подготовка макетов к вёрстке, разрабатываю интерфейсы с учётом пользовательских сценариев и дальнейшего масштабирования',
        ]}
      />
      <AboutCard
        title="UX/UI-дизайнер"
        years="2022‐2026"
        tag="НИИР им. В.А. Насоновой"
        list={[
          'Разработала UX/UI дизайн многостраничного сайта, переработала структуру',
          'Сократила путь пользователя до получения необходимых инструкций и разобрала «информационную свалку»',
          'Провела сегментацию аудитории сайта',
          'Сопровождала реализацию проекта: взаимодействовала с разработчиками, участвовала в передаче макетов',
          'Занималась вёрсткой страниц сайта (на этапе поддержки)',
          'Разработала айдентику для телеграм-канала учреждения и провела UX-аудит бота в телеграм',
        ]}
      />
      <AboutCard
        title="Графический дизайнер"
        years="2022"
        tag="АртФото"
        list={['Разработка визуальных материалов и работа с графикой']}
      />
    </AboutList>

    <AboutList title="Образование">
      <AboutCard
        title="Информатика и вычислительная техника"
        years="2018‐2022"
        tag="НИУ МЭИ"
      />
      <AboutCard
        title="Курс Алексея Бычкова"
        years="2024"
        tag="[Стала лучшей на курсе]"
        isExtraTag
      />
    </AboutList>

    <AboutList title="Навыки">
      <AboutCard
        title="Figma"
        list={[
          'Компоненты, варианты, автолейауты',
          'Работа с сетками',
          'UI-kit, развитие дизайн-систем',
          'Интерактивные прототипы',
          'Адаптивный дизайн',
        ]}
      />
      <AboutCard
        title="Adobe photoshop / illustrator"
        list={[
          'Работа с векторной графикой',
          'Маскирование',
          'Фильтры',
          'Режимы наложения',
          'Ретушь частотным разложением',
          'Пакетная обработка фото',
        ]}
      />
      <AboutCard
        title="Нейросети"
        list={[
          'ChatGPT, Gemini, Recraft, Krea — генерация изображений и иллюстраций',
          'Spline — создание 3D-композиции для иллюстраций',
          'Jitter — создание анимации интерфейсов',
          'Kling AI, Sora — генерация видео',
        ]}
      />
      <AboutCard
        title="Другие навыки"
        list={[
          'Оптимизация пользовательского пути',
          'Анализ рынка, бенчмаркинг',
          'CJM, JTBD',
          'Типографика',
          'Дизайн-ревью',
          'Подготовка печатной продукции',
          'Копирайтинг',
          'Создание анимации',
          'HTML и CSS',
          'Tilda, TapTop — no-code вёрстка',
          'Видеомонтаж — Davinchi Resolve, CupCut',
          'Оформление соц. сетей (подготовка графики)',
        ]}
      />
    </AboutList>

    <AboutList title="Софт Скиллз">
      <AboutCard
        list={[
          'Уточняю требования и перевожу их в дизайн-решения',
          'Умею давать и принимать конструктивную обратную связь',
          'Учитываю технические ограничения',
          'Проявляюсь в командной работе',
          'Занимаюсь вокалом и веду активный образ жизни',
        ]}
      />
    </AboutList>
  </section>
</BaseLayout>
