---
import { Image } from 'astro:assets';

import BaseLayout from '@/layouts/BaseLayout.astro';
import ProjectCard from '@/components/ProjectCard.astro';

import { PROJECT_LIST } from '@/constants';

import concept_1 from '@/assets/concepts/Concept_1.png';
import concept_2 from '@/assets/concepts/Concept_2.png';
import concept_3 from '@/assets/concepts/Concept_3.png';
---

<BaseLayout>
  <div class="mx-auto max-w-300">
    <h2>Проекты</h2>
    <section class="pt-6">
      <section class="flex flex-col gap-6">
        {
          PROJECT_LIST.map((item) => (
            <div class="flex gap-6 max-[1400px]:flex-col">
              {item.map((project) => (
                <ProjectCard project={project} />
              ))}
            </div>
          ))
        }
      </section>

      <section>
        <Image
          src={concept_1}
          alt="Концепт"
          class="max-mobile:my-6 my-12 w-full object-contain"
        />
        <div
          class="max-mobile:grid-cols-1 max-mobile:gap-6 grid grid-cols-2 gap-12"
        >
          <Image src={concept_2} alt="Концепт" class="w-full object-contain" />
          <Image src={concept_3} alt="Концепт" class="w-full object-contain" />
        </div>
      </section>

      <h3 class="mt-6">
        <a
          class="hover:text-brand-blue cursor-pointer transition-colors"
          href="https://www.figma.com/design/jzUOtqUq7p65w60fxA4dYy/Liza-Orlova-_Figma_Portfolio?node-id=0-1&t=ryF8HapSwJhUYAT1-1"
          target="_blank"
          rel="noopener noreferrer"
        >
          Другие работы можно посмотреть в figma ↗
        </a>
      </h3>
    </section>
  </div>
</BaseLayout>
