---
import BaseLayout from '@/layouts/BaseLayout.astro';

import ProjectCard from '@/components/ProjectCard.astro';

import { PROJECT_LIST } from '@/constants';
---

<BaseLayout>
  <div class="mx-auto max-w-300">
    <h2>Проекты</h2>
    <section class="pt-6">
      <section class="flex flex-col gap-6">
        {
          PROJECT_LIST.map((project) => (
            <div class="flex">
              <ProjectCard project={project} />
            </div>
          ))
        }
      </section>
    </section>
  </div>
</BaseLayout>
