---
interface Props {
  href?: string;
}

const { href } = Astro.props;
---

{
  href ? (
    <a href={href} class="btn-brand">
      <slot />
    </a>
  ) : (
    <button class="btn-brand">
      <slot />
    </button>
  )
}
