<p class="text-default">Свяжитесь со мной</p>
<div class="flex gap-3">
  <a
    class="btn-brand"
    href="https://t.me/OrlLizard"
    target="_blank"
    rel="noopener noreferrer"
  >
    телеграм
  </a>
  <a class="btn-brand" href="mailto:orlovadsgn@yandex.ru">почта</a>
</div>
