---
import { Image } from 'astro:assets';

import { cn } from '@/lib/utils';
import elizabethPhoto from '@/assets/elizabeth.png';

import ContactMe from './ContactMe.astro';
import NavigationLinks from './NavigationLinks.astro';

const isAboutPage = Astro.url.pathname.includes('/about');
const isCasePage = Astro.url.pathname.includes('/case-');
---

<header
  class={cn(
    'border-brand-border2 flex h-full max-w-100 flex-col justify-between overflow-hidden border-r p-9  max-mobile:px-4 max-mobile:pb-22 bg-white max-mobile:max-w-none max-mobile:border-r-0 max-mobile:border-b max-mobile:overflow-auto',
    isAboutPage && 'max-mobile:hidden',
    isCasePage && 'hidden'
  )}
>
  <div>
    <nav class="max-mobile:hidden flex gap-3">
      <NavigationLinks />
    </nav>

    <div class="max-mobile:mt-13 mt-32">
      <Image
        src={elizabethPhoto}
        alt="Елизавета Орлова"
        class="h-30 w-30 object-contain"
        width={200}
        height={200}
      />
      <div class="mt-6 flex flex-col gap-3">
        <div class="flex gap-2">
          <h4>Елизавета Орлова</h4>
          <h4 class="text-brand-gray2">[Москва]</h4>
        </div>
        <h1 class="text-brand-blue">UX/UI-дизайнер</h1>
        <p class="text-default max-w-82">
          Успешно закрываю задачи, когда нужно взять на себя полный цикл
          коммуникации со стейкхолдерами: от интервью до утверждения финальных
          макетов.
        </p>
        <p class="text-default text-brand-blue">[Работала с госучреждениями]</p>
      </div>
    </div>
  </div>

  <div class="max-mobile:hidden flex flex-col gap-2">
    <ContactMe />
  </div>
</header>
