---
import { Image } from 'astro:assets';

import { cn } from '@/lib/utils';

import Button from '@/components/Button.astro';

import elizabethPhoto from '@/assets/elizabeth.png';

interface Props {
  headerClassName: string;
}

const { headerClassName } = Astro.props;
---

<header
  class={cn(
    'border-brand-border2 flex h-full w-100 max-w-100 flex-col justify-between overflow-hidden border-r p-9',
    headerClassName
  )}
>
  <div>
    <nav class="flex gap-3">
      <Button href="/">проекты</Button>
      <Button href="/about">обо мне</Button>
      <Button>cv</Button>
    </nav>
    <div class="mt-32">
      <Image
        src={elizabethPhoto}
        alt="Елизавета Орлова"
        class="h-30 w-30 object-contain"
      />
      <div class="mt-6 flex flex-col gap-3">
        <div class="flex gap-2">
          <h4 class="h4">Елизавета Орлова</h4>
          <h4 class="h4 text-brand-gray2">[Москва]</h4>
        </div>
        <h1 class="h1 text-brand-blue">UX/UI-дизайнер</h1>
        <p class="text-default">
          Успешно закрываю задачи, когда нужно взять на себя полный цикл
          коммуникации со стейкхолдерами: от интервью до утверждения финальных
          макетов.
        </p>
      </div>
    </div>
  </div>

  <div class="flex flex-col gap-2">
    <p class="text-default">Свяжитесь со мной</p>
    <div class="flex gap-3">
      <Button>телеграм</Button>
      <Button>почта</Button>
    </div>
  </div>
</header>
