<a class="btn-brand" href="/">проекты</a>
<a class="btn-brand" href="/about">обо мне</a>
<a
  class="btn-brand"
  href="/Resume_OrlovaES_UXUI-designer.pdf"
  target="_blank"
  rel="noopener noreferrer">cv</a
>
