---
import Header from '@/components/Header.astro';
import ContactMe from '@/components/ContactMe.astro';
import NavigationLinks from '@/components/NavigationLinks.astro';
import YandexMetrika from '@/components/YandexMetrika.astro';
import { MobileMenu } from '@/components/MobileMenu';

import '@/styles/global.css';
import { cn } from '@/lib/utils';

const isCasePage = Astro.url.pathname.includes('/case-');

const isProd = import.meta.env.PROD;
---

<html lang="ru" class="scrollbar-gutter-stable">
  <head>
    <meta charset="utf-8" />
    {isProd && <YandexMetrika />}
    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Елизавета Орлова | UX/UI-дизайнер</title>
    <meta
      name="description"
      content="UX/UI-дизайнер Елизавета Орлова (Москва). Портфолио. Проектирование интерфейсов от интервью со стейкхолдерами до финальных макетов. Медицина, E-commerce, госсектор."
    />
    <meta
      name="keywords"
      content="UX/UI дизайнер, продуктовый дизайнер, Елизавета Орлова, веб-дизайн, редизайн, дизайн медицинских сайтов, интернет-магазин, корпоративные сайты, дизайн интерфейсов Москва, приложения IOS"
    />
    <!-- OpenGraph -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://elizavetaorlova.ru/" />
    <meta property="og:title" content="Елизавета Орлова | UX/UI-дизайнер" />
    <meta
      property="og:description"
      content="Проектирование интерфейсов полного цикла: от глубинных интервью до макетов. Смотреть кейсы: редизайн медицинской платформы, E-commerce и проекты для госучреждений."
    />
    <meta property="og:image" content="/og-image.png" />
    <!-- /OpenGraph -->
  </head>

  <body
    class={cn(
      'flex h-screen overflow-hidden text-black max-mobile:overflow-auto max-mobile:block max-mobile:h-auto bg-brand-gray-bg',
      !isCasePage &&
        "bg-[url('/pattern.svg')] bg-position-[16px_15px] bg-repeat"
    )}
  >
    <div class="max-mobile:block hidden">
      <MobileMenu client:media="(max-width: 960px)">
        <div class="fixed inset-0 flex flex-col justify-between bg-white p-4">
          <div></div>
          <nav class="flex flex-col gap-6">
            <NavigationLinks />
          </nav>
          <div class="flex flex-col gap-2">
            <ContactMe />
          </div>
        </div>
      </MobileMenu>
    </div>

    <Header />

    <main class="max-mobile:px-4 flex-1 overflow-y-auto px-9 pt-9 pb-32">
      <slot />
    </main>
  </body>
</html>
